/* Base Styles */
.main:hover .custom-underline {
  width: 80%;
  margin: 0 10%;
}
.main:hover {
  transform: scale(1.05);
}

.custom-underline {
  position: relative;
  background-color: #ff9800;
  height: 2px;
  width: 20%;
  margin: 0 40%;
  z-index: 500;
  transition: 0.5s;
}

.main {
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.img {
  width: 100%;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: auto;
  display: block;
}

.content {
  width: 100%;
  padding: 16px;
  text-align: center;
}

.project-kind {
  color: #ff9800;
  margin-bottom: 8px;
}

.project-title {
  font-size: 1.7em;
  margin-bottom: 8px;
}

.project-hash {
  font-size: 0.9em;
  color: #757575;
}

.confButtons{
  position: relative;
  width: 28% !important;
  margin-right: 25% !important;
}
/* Responsive Styles */

/* For tablets and medium-sized screens (max-width: 768px) */
@media (max-width: 768px) {
  .main {
    border-radius: 15px; /* Adjust border radius */
  }
  .confButtons{
    margin: 0 20%;
    width: 100%;
  }
  .custom-underline {
    width: 30%; /* Adjust underline width */
    margin: 0 35%;
  }

  .content {
    padding: 12px; /* Reduce padding */
  }

  .project-title {
    font-size: 1.5em; /* Reduce font size */
  }

  .project-hash {
    font-size: 0.85em; /* Slightly smaller text */
  }
}

/* For mobile screens (max-width: 500px) */
@media (max-width: 500px) {
  .main {
    border-radius: 10px; /* Smaller border radius for mobile */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Reduce shadow */
  }

  .confButtons{
    margin: 0 10%;
    width: 100%;
  }
  .custom-underline {
    width: 50%; /* Wider underline on small screens */
    margin: 0 25%;
  }

  .content {
    padding: 10px; /* Further reduce padding */
  }

  .project-title {
    font-size: 1.3em; /* Smaller font size for titles */
  }

  .project-kind, .project-hash {
    font-size: 0.8em; /* Reduce size for additional text */
  }
}


/* For mobile screens (max-width: 500px) */
@media (max-width: 400px) {
  .main {
    width: 100%;
    border-radius: 10px; /* Smaller border radius for mobile */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Reduce shadow */
  }

  .confButtons{
    width: 100%;
  }
  .custom-underline {
    width: 50%; /* Wider underline on small screens */
    margin: 0 25%;
  }

  .content {
    width: 100%;
  }

  .project-title {
    font-size: 1.3em; /* Smaller font size for titles */
  }

  .project-kind, .project-hash {
    font-size: 0.8em; /* Reduce size for additional text */
  }
}
